dj-database-url==0.4.1
Django==1.11.1
django-cors-headers==2.1.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
gunicorn==19.6.0
psycopg2==2.7
pytz==2017.3
selenium==3.8.0
whitenoise==3.2
