<!doctype html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Hahimur</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hahimur</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
          <form action="/index" method="post">
            {% csrf_token %}
            {% for stage in stages %}
              <div class="col-md-3 col-sm-6 stage">
                <h3>{{ stage }}</h3>
                {% for match in matches %}
                  {% if match.stage == stage %}
                    <div class="match-row">
                      <div class="home-team">{{ match.home_team }}</div> <input type="number" min="0" value="0" style="width: 40px; text-align: center"> - <input type="number" min="0" value="0" style="width: 40px; text-align: center"> <div class="away-team">{{ match.away_team }}</div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
            <input type="submit" value="Submit" />
          </form>
      </div>
      <div id="app">
        [[ title ]]
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<script>
  function winner(group) {
      var row = group[0];
      for (var i = 1; i <= group.length - 1; i++) {
        if (group[i][0] > row[0]) {
          row = group[i];
            }
        }
      return row
  }

  var groupA = [
    [3, 4, 4, "Egypt"],
    [6, 5, 3, "Russia"],
    [0, 2, 5, "Saudi Arabia"],
    [9, 5, 1, "Uruguay"]
  ]

  new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      title: 'Welcome to My Journal'
    }
  })
</script>