body {
    background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
}

p {
    color: #757575;
}


.stage {
    padding-bottom: 35px;
}

.match-row {
    margin-bottom: 3px;
}

.home-team {
    width: 90px;
    display: inline-block;
}

.away-team {
    padding-left: 20px;
    display: inline-block;
}